

body{
    background: rgb(146, 161, 158);
    background-image: url(1691761141-artificial-intelligence-tools-0823-g1483224488copy.jpg);
}
p{
    color:rgb(251, 253, 253)

}
ul{
    color: aliceblue;
}
H1{
    color: aliceblue;
}